@media (min-width: 721px) {
    header .menu {
        display: none;
    }
}

main {
    position: relative;
    margin-top: 20px;
    padding: 0px 30px;
}

.consulta>h1 {
    text-align: center;
    margin-bottom: 10px;
}

.links {
    margin-top: 20px;
    padding: 0px 30px;
}

.links>a {
    background-color: #7159c1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.links>a:hover {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    color: #7159c1;
    border: solid #7159c1;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
}

@media (max-width:425px) {
    footer {
        height: 50px;
    }

    footer>img {
        display: none;
    }
}

div#msg-sucesso {
    width: 400px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50, 205, 50, .3);
    border: 1px solid rgb(34, 139, 34);
}

div.msg-erro {
    width: 400px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250, 128, 114, .3);
    border: 1px solid rgb(165, 42, 42);
}

@media (max-width:425px) {
    div#msg-sucesso {
        width: 300px;
        margin-top: 15px;
        padding: 2px;
    }
}