.tech {
    /* position: relative; */
    padding: 6rem 0;
    margin-bottom: 20px;
}

/* footer sempre no final da pagina */
footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

@media(max-width:425px) {

    .tech {
        position: relative;
    }
    

    .none {
        display: none;
    }

    footer {
        position: absolute;
        height: 60px;
        bottom: 0;
        width: 100%;

    }

    footer>img {
        display: none;
    }
}