
iframe {
    width: 50%;
}



@media only screen and (max-width: 600px) {
    iframe {
        width: 100%;
    }
}

h3{
    text-align: center;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.redes-sociais>a{
    margin: 0px 10px;
    
}

.colaborador{
    display: flex;
    justify-content: center;
   
}

.colab{
    padding: 10px;
    text-align: center;
    margin: 20px 0px;
}

footer{
    bottom: 0;
    width: 100%;
}